html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  @apply scrollbar-thin scrollbar-thumb-primary scrollbar-track-transparent;
}

body {
  @apply bg-[url('https://arweave.net/c3cCRBcDb-cbx26AlJqJ9MKYBUPFDXN6pJ3AsVBWTzw')] dark:bg-[url('https://arweave.net/STTh6euGv92OJDYAxAkUQwFj0fJ7oTY4ker1tUSPcY8')] bg-size-[50%] bg-no-repeat bg-top-right bg-fixed;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  @apply scrollbar-thin;
}

@keyframes movex {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@layer base {
  /* Inter-VariableF...z,wght.ttf */
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-display: swap;
    src: url("https://arweave.net/qFrZTwXAm1apiVgOYqpqmq2yWC8wRffpd3J6lMlzEwI")
      format("woff2");
  }

  /* Gabriela-Regular.ttf */
  @font-face {
    font-family: "Gabriela";
    font-weight: 400;
    font-display: swap;
    src: url("https://arweave.net/qAID3w-MgaZrO6SEvGBM7qWjz9LbwZNXKFqMGQIZjA8")
      format("woff2");
  }

  /* DeliusSwashCaps-Regular.ttf */
  @font-face {
    font-family: "DeliusSwashCaps";
    font-weight: 400;
    font-display: swap;
    src: url("https://arweave.net/6nKnlPeN4v9u1HqdQdT-8KLhqn4OECDmVsJosHnyz48")
      format("woff2");
  }
  /* Sniglet-Regular.ttf */
  @font-face {
    font-family: "Sniglet";
    font-weight: 400;
    font-display: swap;
    src: url("https://arweave.net/Wz2wNNDl9ypIdQU_4S04i6QuPDWwJnv1fQhQpBjB1iY")
      format("woff2");
  }

  /* JetBrainsMono-V...t_wght.ttf */
  /* @font-face {
		font-family: "JetBrainsMono";
		font-weight: 400;
		font-display: swap;
		src: url("https://arweave.net/HsIZ0ZIWD-YcRo_Z4lyZsHevQQIr0J_afG0pVRCotXw")
			format("woff2");
	} */

  /* Nunito-VariableFont_wght.ttf */
  /* @font-face {
		font-family: "Nunito";
		font-weight: 400;
		font-display: swap;
		src: url("https://arweave.net/-S1mctngrxKYvYi3RdgNJoZgJPh26mVDaVdKe-05hDA")
			format("woff2");
	} */

  /* Outfit-VariableFont_wght.ttf */
  /* @font-face {
		font-family: "Outfit";
		font-weight: 400;
		font-display: swap;
		src: url("https://arweave.net/Vp_lSwDuHQLfZ70OoLKczYsa8C3u5bxi17J-gOYMt8M")
			format("woff2");
	} */
}

.bg-slash {
  @apply bg-[repeating-linear-gradient(45deg,transparent_0px,transparent_13px,var(--muted)_13px,var(--muted)_14px)];
}

.bg-dot {
  @apply bg-size-[5px_5px] bg-radial-[at_50%_50%] from-foreground/90 from-0% to-transparent to-16%;
}

/* 
--font-sans: "Inter",
--font-serif: "Gabriela",
--font-mono: "Consolas", 
*/
.x-line {
  @apply bg-repeat-x bg-size-[10px_2px] bg-linear-[to_right,var(--muted-foreground)_0_7px,transparent_7px_10px];
}

.y-line {
  @apply bg-repeat-y bg-size-[2px_10px] bg-linear-[to_bottom,var(--muted-foreground)_0_7px,transparent_7px_10px];
}

/* className={`absolute w-full h-px pointer-events-none opacity-0 transform translate-y-1/2 x-line bg-clip-content`} */
