body {
	@apply bg-[url('https://arweave.net/c3cCRBcDb-cbx26AlJqJ9MKYBUPFDXN6pJ3AsVBWTzw')] dark:bg-[url('https://arweave.net/STTh6euGv92OJDYAxAkUQwFj0fJ7oTY4ker1tUSPcY8')] bg-size-[50%] bg-no-repeat bg-top-right;
}

@keyframes movex {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(100%);
	}
}

@theme {
}

@layer base {
	/* Delius Swash Caps */
	@font-face {
		font-family: "Caps";
		font-weight: 400;
		font-display: swap;
		src: url("https://arweave.net/6nKnlPeN4v9u1HqdQdT-8KLhqn4OECDmVsJosHnyz48")
			format("woff2");
	}

	/* @font-face {
		font-family: "Inter";
		font-weight: 400;
		font-display: swap;
		src: url("https://arweave.net/FuEI82P7bYaUYuNQN5eTloaLeZCf29hV4G7mdonBgEA")
			format("woff2");
	} */
}
